@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    @{
        if (User.Identity.IsAuthenticated)
        {

            <div class="row justify-content-md-center center-align-form">
                <div class="col-md-4">
                    <h1>@ViewData["Title"]</h1>
                    <section>
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                            <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
                        </form>
                    </section>
                </div>
            </div>
        }
        else
        {
            <div class="row justify-content-md-center center-align-form">
                <div class="col-md-4">
                    <section>
                        <p>You have successfully logged out of the application.</p>
                    </section>
                </div>
            </div>
        }
    }
</header>
